@use "var" as *;
h2 {
  @include head2();
}

.confirmblock {
  .representative {
    margin: 0 0 3rem;
    padding: 2rem;
    background: #ffffff;
  }

  .team {
    padding: 2rem;
    background: #ffffff;

    // 入力内容確認ボタンの装飾
    .btn {
      position: relative;
      height: 5rem;

      // 読み込みのアニメーションの非表示
      .wpcf7-spinner {
        display: none;
      }
    }
  }

  // フォーム内の共通見出し
  .formtitle {
    margin: 0 0 2rem;
    padding: 0 0 1rem;
    border-bottom: 0.2rem solid #888888;
    color: #19a7ce;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  &__box {
    margin: 0 0 2rem;
    border-bottom: 0.1rem solid #cccccc;

    span {
      display: block;
      margin: 0 0 0.8rem;
    }
    &_label,
    &_people {
      font-size: 1.6rem;
      font-weight: bold;
    }
    &_item {
      margin: 0 0.5rem 0.8rem !important;
      font-size: 1.5rem;
    }
    &_minilabel {
      display: flex;
      margin: 0 0.5rem;
      color: #888888;
      font-size: 1.5rem;
      font-weight: bold;
      span:last-child {
        padding: 0 0 0 0.5rem;
        color: #000000;
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
  }

  .privacytxt {
    height: 15rem;
    margin: 0 auto 2rem;
    padding: 1rem;
    overflow-y: scroll;
    border: 0.2rem solid #cccccc;

    &__title {
      margin: 0 auto 1rem;
      h5 {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
      }
    }

    &__box {
      margin: 0 auto 3rem;

      &_list {
        list-style: auto !important;
        list-style-type: decimal;
        padding: 0 0 0 2rem;
      }

      &_head {
        display: block;
        margin: 0 0 1rem 0;
        color: #000000;
        font-size: 1.5rem;
        font-weight: bold;
      }

      p {
        padding: 0 0 0 2rem;
      }

      p,
      li {
        line-height: 2;
        color: #4d4d4d;
        font-size: 1.3rem;
      }

      .first {
        list-style: none;
      }
    }
  }

  .btncheck {
    margin: 0 auto 3rem;
    text-align: center;
    .wpcf7-form-control-wrap {
      font-size: 1.4rem;
    }
  }

  .btngroup {
    display: flex;
    justify-content: space-between;
    input[type="button"] {
      display: block;
      width: 45%;
      padding: 1rem;
      border-radius: 0.4rem;
      background: #cccccc;
      color: #000000;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      &:active {
        opacity: 0.6;
      }
    }
    input[type="submit"] {
      display: block;
      width: 45%;
      padding: 1rem;
      border-radius: 0.4rem;
      background: #f57500;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      &:active {
        opacity: 0.6;
      }
      &:disabled {
        opacity: 0.6;
      }
    }
    .wpcf7-spinner {
      display: none;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 80rem;
  }

  .confirmblock {
    padding: 0 4rem 2rem;

    // フォーム内の共通見出し
    .formtitle {
      font-size: 2.2rem;
    }

    .representative {
      padding: 4rem;
    }

    .team {
      padding: 4rem;
    }

    &__box {
      &_label,
      &_people {
        font-size: 1.8rem;
      }
    }

    .btncheck {
      .wpcf7-form-control-wrap {
        font-size: 1.4rem;
      }
    }

    .btngroup {
      display: flex;
      justify-content: space-between;
      a {
        &:hover {
          opacity: 0.6;
        }
      }
      input[type="submit"],
      input[type="button"] {
        margin: 0 5rem;
        &:hover {
          opacity: 0.6;
        }
      }
      .wpcf7-spinner {
        display: none;
      }
    }
  }
}
