.main {
  margin: 0;
}

.container {
  margin: 3rem auto 5rem;
}

.confirmblock {
  padding: 2rem;
  border: 0.2rem solid #888888;
  background: #ffffff;
}
.confirmblock__box {
  margin: 0 0 2rem;
  border-bottom: 0.1rem solid #cccccc;
}
.confirmblock__box span {
  display: block;
  margin: 0 0 0.8rem;
}
.confirmblock__box_label, .confirmblock__box_people {
  font-size: 1.6rem;
  font-weight: bold;
}
.confirmblock__box_item {
  margin: 0 0.5rem 0.8rem !important;
  font-size: 1.4rem;
}
.confirmblock__box_minilabel {
  display: flex;
  color: #888888;
  font-size: 1.5rem;
  font-weight: bold;
}
.confirmblock__box_minilabel span:last-child {
  padding: 0 0 0 0.5rem;
  color: #000000;
  font-size: 1.4rem;
  font-weight: normal;
}
.confirmblock .privacytxt {
  height: 15rem;
  margin: 0 auto 2rem;
  padding: 1rem;
  overflow-y: scroll;
  border: 0.2rem solid #cccccc;
}
.confirmblock .privacytxt__title {
  margin: 0 auto 1rem;
}
.confirmblock .privacytxt__title h5 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
.confirmblock .privacytxt__box {
  margin: 0 auto 3rem;
}
.confirmblock .privacytxt__box_list {
  list-style: auto !important;
  list-style-type: decimal;
  padding: 0 0 0 2rem;
}
.confirmblock .privacytxt__box_head {
  display: block;
  margin: 0 0 1rem 0;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
}
.confirmblock .privacytxt__box p {
  padding: 0 0 0 2rem;
}
.confirmblock .privacytxt__box p, .confirmblock .privacytxt__box li {
  line-height: 2;
  color: #4d4d4d;
  font-size: 1.3rem;
}
.confirmblock .privacytxt__box .first {
  list-style: none;
}
.confirmblock .btncheck {
  margin: 0 auto 3rem;
}
.confirmblock .btncheck .wpcf7-form-control-wrap {
  font-size: 1.4rem;
}
.confirmblock .btngroup {
  display: flex;
  justify-content: space-between;
}
.confirmblock .btngroup a {
  display: block;
  width: 45%;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.3rem 0 #000000;
  background: #cccccc;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.confirmblock .btngroup a:active {
  opacity: 0.6;
}
.confirmblock .btngroup input[type=submit] {
  display: block;
  width: 45%;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.3rem 0 #000000;
  background: #f57500;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.confirmblock .btngroup input[type=submit]:active {
  opacity: 0.6;
}
.confirmblock .btngroup .wpcf7-spinner {
  display: none;
}

.wpcf7-previous {
  display: block !important;
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 80rem;
    margin: 8rem auto;
  }
  .confirmblock {
    max-width: 80rem;
    margin: 7rem 4rem 2rem;
    padding: 4rem;
  }
  .confirmblock__box_label, .confirmblock__box_people {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .confirmblock__box_item {
    margin: 0 0.5rem 0.8rem !important;
    font-size: 1.5rem;
  }
  .btncheck {
    margin: 0 auto 1rem;
  }
  .btncheck .wpcf7-form-control-wrap {
    font-size: 1.4rem;
  }
  .btngroup {
    display: flex;
    justify-content: space-between;
  }
  .btngroup a {
    margin: 0 5rem;
  }
  .btngroup a:hover {
    opacity: 0.6;
  }
  .btngroup input[type=submit] {
    margin: 0 5rem;
  }
  .btngroup input[type=submit]:hover {
    opacity: 0.6;
  }
  .btngroup .wpcf7-spinner {
    display: none;
  }
}
/*# sourceMappingURL=page-inquiry-confirm.css.map */
